{% extends "base.html" %}
{% load static %}

        <!-- End of Sidebar -->
{% block content %}
        
                <!-- End of Topbar -->
                
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h2 class="h1 mb-0 text-gray-800" style="font-weight: 900;">Today's Live Result</h2>
                        <img class="d-none d-sm-inline-block" style="width: 10%" src="{% static 'giphy3.gif' %}" alt="...">
                        <img class="d-none d-sm-inline-block" style="width: 10%" src="{% static 'giphy1.gif' %}" alt="...">
                        <img class="d-none d-sm-inline-block" style="width: 10%" src="{% static 'giphy2.gif' %}" alt="...">
                       
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" >
                    <h3 style="font-weight: 800;">आज का लाइव रिजल्ट <span><img style="width: 10%" src="{% static 'newgif.gif' %}"></span></h3></div>
                    <!-- Content Row -->
                    <div class="row">
                        {% for i in cur_data %}

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                                SN [ श्री नगर   ]</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{i.sn}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xl font-weight-bold text-success text-uppercase mb-1">
                                                FB [ फिरोजाबाद ]</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{i.fb}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xl font-weight-bold text-info text-uppercase mb-1">GB [ गौतम बुद्ध  ]
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{i.gb}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xl font-weight-bold text-warning text-uppercase mb-1">
                                                Nazi [ नाजी ]</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{i.nazi}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xl font-weight-bold text-danger text-uppercase mb-1">
                                                DL [ दिल्ली ]</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{i.dl}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Profit Growth of फंटर </h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">TIMING</h6>
                                    <img class="d-none d-sm-inline-block" style="width: 10%" src="{% static 'newgif.gif' %}" alt="...">
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div> -->
                                    
                                
                                <div class="card-body">
                                    <h4 class="small font-weight-bold"> SRI NAGAR<span
                                            class="float-right">{ 1pm- 4pm }</span></h4>
                                    <div class="mb-4">
                                            <h4 class="small font-weight-bold">Result:  <span>[ 5pm ]<img class="float-right" style="width: 10%" src="{% static 'newgif.gif' %}"></span></h4>
                                    </div>
                                    <h4 class="small font-weight-bold">FIROZABAD <span
                                            class="float-right">{ 4pm- 6pm }</span></h4>
                                     <div class="mb-4">
                                            <h4 class="small font-weight-bold">Result:  <span>[ 7pm ]<img class="float-right" style="width: 10%" src="{% static 'newgif.gif' %}"></span></h4>
                                    </div>

                                    <h4 class="small font-weight-bold"> GAUTAM BUDDHA<span
                                            class="float-right">{ 6pm- 8pm }</span></h4>
                                    <div class="mb-4">
                                            <h4 class="small font-weight-bold">Result:  <span>[ 9pm ]<img class="float-right" style="width: 10%" src="{% static 'newgif.gif' %}"></span></h4>
                                    </div>
                                    <h4 class="small font-weight-bold">NAZI <span
                                            class="float-right">{ 9pm- 11pm }</span></h4>
                                    <div class="mb-4">
                                            <h4 class="small font-weight-bold">Result:  <span>[ 12pm ]<img class="float-right" style="width: 10%" src="{% static 'newgif.gif' %}"></span></h4>
                                    </div>
                                    <h4 class="small font-weight-bold">DELHI <span
                                            class="float-right">{ 11pm- 3pm }</span></h4>
                                    <div class="mb-4">
                                            <h4 class="small font-weight-bold">Result:  <span>[ 9am ]<img class="float-right" style="width: 10%" src="{% static 'newgif.gif' %}"></span></h4>
                                    </div>
                                </div>
                            
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    
                           

                    
                                     <!-- DataTales Example -->
                  <div class="col-xl-18 col-lg-12">
                    <div class="card shadow mb-4">
                        
                        <!--  -->
                        <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0" id="dataTable1">
            <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>SN</th>
                                            <th>FB</th>
                                            <th>GB</th>
                                            <th>Nazi</th>
                                            <th>Delhi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in data reversed %}
                                        <tr>
                                            <td>{{ i.date }}</td>
                                            <td>{{ i.sn }}</td>
                                            <td>{{ i.fb }}</td>
                                            <td>{{ i.gb }}</td>
                                            <td>{{ i.nazi }}</td>
                                            <td>{{ i.dl }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
            <!-- Table headers and body -->
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function fetchTableData() {
        $.get('/get_table_data/', function(data) {
            
            updateTable(data);
        });
    }

    function updateTable(data) {
        var tableBody = $('#dataTable1 tbody');
        tableBody.empty();

        $.each(data.data, function(index, item) {
            var row = $('<tr>');
            row.append($('<td>').text(item.date));
            row.append($('<td>').text(item.sn));
            row.append($('<td>').text(item.fb));
            row.append($('<td>').text(item.gb));
            row.append($('<td>').text(item.nazi));
            row.append($('<td>').text(item.dl));
            tableBody.append(row);
        });
    }

    // Fetch data every 5 seconds
    setInterval(fetchTableData, 5000);

    // Initial fetch
    fetchTableData();
</script>

                </div>
            </div>

                   

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>www.1ka20sattaking.in is a Non Commercial Website We Show Only News and Provide Entertainment and providing demo data. Viewing This WebSite Is On Your Own Risk.. All The information Shown On Website Is Sponsored And We Warn You That Satta in Your Country May be Banned or Illegal... We Are Not Responsible For Any Issues or Scam... We Respect All Country Rules/Laws... If You Not Agree/Satisfied With Our Site Disclaimer... Please Quit Our Site Right Now and Never Visit this Site Again. Thankyou.

</span></div><div class="copyright text-center my-auto">
                        <span><b>Copyright &copy; 2021-2023 1 ka 20 Satta King shubh labh</b></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



{% endblock %}