{% extends "base.html" %}
{% load static %}

        <!-- End of Sidebar -->
{% block content %}
         <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Website Information</h6>
                                </div>
                                <div class="card-body">
                                    <p>In this site all the data are are related to cryptocurrency.</p>
                                    <p class="mb-0">This site made a demo data of all cryptocurrencies by fetching their endpoints after decimal.
                                    So that it's can't be predictible or hackable.</p>
                                    <p>This Website provides only cryptocurrency data not any other functioning. So you can use that demo data in your work.</p>
                                </div>
                            </div>


{% endblock %}
